

    <canvas id="myChart{{yValues.0}}" ></canvas>

    <script>
        const xValues = {{ xValues| safe }};
        const yValues = {{ yValues|safe }};
    
        new Chart("myChart{{yValues.0}}", {
            type: "line",
            data: {
                labels: xValues,
                datasets: [{
                    fill: false,
                    lineTension: 0,
                    backgroundColor: "rgba(0,0,255,1.0)",
                    borderColor: "rgba(0,0,255,0.1)",
                    data: yValues
                }]
            },
            options: {
                legend: { display: false },
                scales: {
                    
                    xAxes: [{}],
                    yAxes: [{ ticks: { reverse: true ,  } }],
    
    
                }
            }
        });
    </script>

