
{% for sporcu in sporcu_list %}

        <button class="" id="sporcu{{sporcu.id}}"
                
                    hx-vals='{"antrenman":"{{antrenman.id}}","sporcu":{{sporcu.id}}}'
                    hx-post="{% url "htmx_sporcu_ekle" %}"
                    hx-target="#giren"
                    hx-swap="afterbegin">
                    <div   >
                    <div class="w-full ">
                    <img class="h-16 w-16 rounded-full mx-auto " src="{{sporcu.resim.url}}" alt="">
                    </div>
                    <div>{{sporcu}}</div>
                     </div>
             
        </button>

{% endfor %}


{% if sporcu_tek %}

{% if ekle_cikar == 'cikar'%}
<button class="" id="sporcu{{sporcu_tek.id}}"
hx-vals='{"ekle_cikar":"ekle","sporcu":{{sporcu_tek.id}}}'
hx-post="{% url "htmx_sporcu_ekle" %}"
hx-target="#giren"
hx-swap="afterbegin"
{% else %}
<button class="" id="eklenen_sporcu{{sporcu_tek.id}}"
hx-vals='{"ekle_cikar":"cikar","sporcu":{{sporcu_tek.id}}}'
hx-post="{% url "htmx_sporcu_ekle" %}"
hx-target="#takim"
hx-swap="afterbegin"
{% endif %}
>
<div>
    <div class="w-full">
    <img class="h-16 w-16 rounded-full mx-auto " src="{{sporcu_tek.resim.url}}" alt="">
    </div>
    <div>{{sporcu_tek}}</div>
     </div>
</button>
<button id="{% if ekle_cikar == 'cikar'%}eklenen_{% endif %}sporcu{{sporcu_tek.id}}" disabled
hx-swap-oob="delete"
>

</button>
{% endif %}



